.alerta {
    padding: .5rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;

    &.error {
        background-color: $rojo;
        color: $blanco;
    }

    &.exito {
        background-color: $verde;
    }
}